<h3>Backbone.js</h3>

<div id="articles">
</div>

<script type="text/template" id="article-template">
  <span class="title">{{- article.title }}</span>
  <span class="writing_date">{{- article.writing_date }}</span>
  <span class="detail">{{- article.detail }}</span>
</script>