<h1>Articles#index</h1>
<div id="content container">
  <% if Article.present? %>
    <ul>
      <li>
      <% @articles.each do |article| %>
        <span><%= article.writing_date.strftime("%Y年%-m月%-d日") %></span>
        <a href="<%= article.url %>"><%= article.title %></a>
      <% end %>
      </li>
    </ul>
  <% end %>
</div>

<!-- <script>
  console.log(marked('I am using __markdown__.'));
  document.getElementById('content').innerHTML =
      marked('# Marked in browser\n\nRendered by **marked**.');
</script> -->